# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
.env/
.env

# =========================
# DJANGO
# =========================
*.log
db.sqlite3
media/
staticfiles/

# Archivos de migración compilados
**/migrations/__pycache__/

# =========================
# IDEs / EDITORES
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# TEST / COVERAGE
# =========================
htmlcov/
.coverage
.pytest_cache/

# =========================
# VARIABLES DE ENTORNO
# =========================
.env.local
.env.*.local

# =========================
# NODE (por si hay scripts)
# =========================
node_modules/
dist/.env
